.feature-card {
  width: 100%;
  max-width: 240px;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.card-img {
  width: 100%;
  max-width: 240px;
  height: 260px;
}

.card-text {
  font-size: 24px;
}

.comp-card {
  width: 242px;
  max-width: 260px;
  height: 242px;
  border-radius: 25px;
  align-items: center;
  align-content: center;
  box-shadow: inset 0 0 40px 10px #21B9FF4D;
  transition: all 0.3s ease;
}

.comp-card div {
  align-content: center;
}

.comp-card:hover {
  box-shadow: inset 0 0 50px 15px #21B9FF80;
}

.comp-img {
  max-width: 77px;
}

.comp-text {
  font-size: 20px;
}

/* Responsiveness */
@media (max-width: 992px) {
  .comp-img {
    max-width: 65px;
  }

  .comp-text {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .comp-img {
    max-width: 55px;
  }

  .comp-text {
    font-size: 16px;
  }
}
