.feature-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* Allow cards to wrap on smaller screens */
}

.card-img {
  width: 100%;
  max-width: 232px;
  height: 260px;
  /* Maintain aspect ratio */
}

.card-text {
  font-size: 24px;
}

.comp-card {
  width: 100%;
  max-width: 260px;
  height: 260px;
  border-radius: 25px;
  box-shadow: inset 0 0 40px 10px #21B9FF4D;
  transition: all 0.3s ease;
}

.comp-card:hover {
  box-shadow: inset 0 0 50px 15px #21B9FF80
}

.comp-img {
  width: 77px;
  height: auto;
  /* Maintain aspect ratio */
}

.comp-text {
  font-size: 20px;
  margin-top: 10px;
}

/* --- Responsive Styling --- */
@media (max-width: 992px) {

  /* Tablets and below */
  .card-text {
    font-size: 20px;
  }

  .comp-text {
    font-size: 18px;
  }

  .comp-card {
    height: 240px;
  }
}

@media (max-width: 768px) {

  /* Mobile devices */
  .card-img {
    max-width: 180px;
  }

  .card-text {
    font-size: 18px;
  }

  .comp-img {
    width: 60px;
  }

  .comp-card {
    height: 220px;
  }

  .comp-text {
    font-size: 16px;
  }
}

@media (max-width: 576px) {

  /* Small phones */
  .card-img {
    max-width: 150px;
  }

  .card-text {
    font-size: 16px;
  }

  .comp-card {
    /* Allow height to adjust based on content */
    padding: 20px;
  }
}
