.sec-width {
    width: 625px;
    max-width: 100%;
}

.upcoming-bg {
    background: url(../../assets/upcoming/upcoming-features-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.sec-para {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
}

.feat-heading {
    font-size: 38px;
    font-weight: 600;
}

.up-card-img {
    object-fit: contain;
    text-align: center;
}

.up-card-img img {
    width: 100%;
    max-width: 580px;
    max-height: 450px;
    border-radius: 40px;
}

.up-card-img .img {
    box-shadow: inset 0 0 90px 4px #306AFF4D;
    transition: all 0.3s ease;
}

/* Responsiveness */
@media (max-width: 1200px) {
    .feat-heading {
        font-size: 28px;
    }

    .sec-para {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .feat-heading {
        font-size: 28px;
    }

    .sec-para {
        font-size: 14px;
    }

    .up-card :nth-child(2) {
        max-width: 380px;
    }

    .up-card-img img {
        max-width: 90%;
    }
}

@media (max-width: 576px) {
    .feat-heading {
        font-size: 24px;
    }

    .sec-para {
        font-size: 13px;
    }
}
