.sec-para {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 1rem;
}

/* Add responsiveness */
.about-img {
  width: 100%;
  max-width: 690px;
  height: auto;
}

@media (max-width: 991px) {
  .about-img {
    max-width: 536px;
  }

  .sec-heading {
    font-size: 2rem;
  }

  .sec-para {
    font-size: 1rem;
  }

  .self-btn {
    font-size: 0.8rem;
    padding: 5px 16px;
  }
}

@media (max-width: 576px) {
  .about-img {
    max-width: 516px;
  }

  .sec-heading {
    font-size: 1.8rem;
  }

  .sec-para {
    font-size: 0.95rem;
  }

  .self-btn {
    font-size: 0.75rem;
    padding: 4px 12px;
  }
}
