.blue-heading {
  font-size: 29px;
  font-weight: 500;
  color: #2DE6FF;
}

.token-card {
  background: linear-gradient(#2187FF, #001896);
  width: 245px;
  max-width: 245px;
  height: 237px;
  text-align: center;
  align-content: center;
  transition: transform 0.3s ease;
}

.token-card:hover {
  transform: translateY(-8px) !important;
}

.token-img {
  width: 64px;
}

.card-title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.card-text {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

.left-radius {
  border-radius: 25px 0 0 25px;
}

.right-radius {
  border-radius: 0 25px 25px 0;
}

/* Responsive Styles */
@media (max-width: 1200px) {

  .left-radius,
  .right-radius,
  .token-card {
    border-radius: 16px;
  }

  .blue-heading {
    font-size: 24px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-text {
    font-size: 16px;
  }
}

/* @media (max-width: 768px) {
    .token-card {
      max-width: 260px;
      max-height: 238px;
    }

    .blue-heading {
      font-size: 20px;
    }

    .card-title {
      font-size: 18px;
    }

    .card-text {
      font-size: 14px;
    }
  }
  @media (max-width: 576px) {
    .token-card {
      max-width: 260px;
      max-height: 238px;
      padding: 20px 15px;
    }

    .blue-heading {
      font-size: 18px;
    }

    .card-title {
      font-size: 16px;
    }

    .card-text {
      font-size: 14px;
    }
  } */
